@page "/CrearEditorial"
@using PruebaDoubleV.Shared
<div class="container">
    <h3>Crear Editorial</h3>
</div>
<div class="container contenedor-subtitle">
    <div class="row">
        <div class="col-md-6" style="float:right;margin-right:25px;">
            <label>@mensaje</label>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="float:right;margin-right:25px;">
            <label>Nombre</label>
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-sm">
                <span style="color:red">*</span>
                <input class="form-control form-control-sm" placeholder="Digite el nombre" @bind-value="@persona.Nombres" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-3" style="float:right;margin-right:25px;">
            <label>Sede</label>
        </div>
        <div class="col-md-8">
            <div class="input-group input-group-sm">
                <span style="color:red">*</span>
                <input class="form-control form-control-sm" placeholder="Digite la sede" @bind-value="@persona.Sede" />
            </div>
        </div>
    </div>
    <div class="row"><br /><br /></div>
    <div class="row">
        <div class="col-md-3" style="float:right;margin-right:25px;">
            <button class="btn btn-primary btn-sm" style="float:right" @onclick="Grabar">
                <span class="fas fa-save"></span> Guardar
            </button>
        </div>
        <div class="col-md-8">

        </div>
    </div>
</div>
@code{

    [Inject] HttpClient Http { get; set; }
    public EditorialDTO.EditorialRequest persona = new EditorialDTO.EditorialRequest();
    public string mensaje = "";
    private async Task Grabar()
    {
        mensaje = "Se guardo el registro con exito";
        var devol = await Http.PostAsJsonAsync("Editorial", persona);
        if (devol.IsSuccessStatusCode)
        {
            mensaje = "Se guardo el registro con exito";
        }
        else
        {
            mensaje = "Hubo un problema al guardar";
        }
    }

    protected async override void OnParametersSet()
    {

    }



}


